<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment 1</title>
</head>
<body>
    <div>
        <h1>Add To The List</h1>
        <p>Feel free to try to add to my list but know it won't work.</p>
        <form action="/action_page.php">
            Band Name:<br><input type="text" name="bandName">
            <button type="button">Add</button>
        </form>
        <br>
        <nav>
            <a href = "index.html">Home</a>
            <a href = "AddToList.html">Add To List</a>
            <a href = "LogIn.html">Login Screen</a>
        </nav>
    </div>
</body>
</html>