<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment 1</title>
</head>
<body>
    <div>
        <h1>Patrick Silva</h1>
        <h2>Top Ten Math Rock Bands</h2>
        <ol>
            <li>Via Luna</li>
            <li>And So I watch You From Afar</li>
            <li>This Town Needs Guns</li>
            <li>Chon</li>
            <li>Ahmi</li>
            <li>Axes</li>
            <li>Totorro</li>
            <li>Weye</li>
            <li>Cetow</li>
            <li>Good Game</li>
        </ol>
        
        <p>
            This quarter I am taking History of Rock n Roll for my humanites course so, my mind is on music. My favorite genre of<br>
            music math rock and know that it is not rock about math. It is a genre stemmed from Post Hardcord Rock and Jazz where<br>
            they play with time signatures between and during the songs.
        </p>
        <nav>
            <a href = "index.html">Home</a>
            <a href = "AddToList.html">Add To List</a>
            <a href = "LogIn.html">Login Screen</a>
        </nav>
    </div>
</body>
</html>