<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static Express Server</title>
</head>
<body>
    <div>
        <h1>Log In!</h1>
        <p>What am I loggin into?</p>
        <p>IDK!</p>
        <form action="/action_page.php">
            Login Name:<br><input type="text" name="bandName"><br>
            Password:<br><input type="text" name="bandName"><br>
            <button type="button">Are you sure you want to login?</button>
        </form>
        <nav>
            <a href = "index.html">Home</a>
            <a href = "AddToList.html">Add To List</a>
            <a href = "LogIn.html">Login Screen</a>
        </nav>
    </div>
</body>
</html>